@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(./variable.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main_font);
}

ul,
ol {
    list-style-type: none;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: var(--d-grey-natural);
    }

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: var(--d-grey-natural);
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: var(--d-grey-natural);
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--grey-natural);
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.large_icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.logo {
    width: 155px;
    height: 24px;
}

.container {
    padding: 30px 105px;
}

.container-fluid {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0px 12px;
    }
}

.btn_primary {
    border: none;
    align-items: center;
    padding: 14px 32px;
    gap: 10px;
    color: #ffffff;
    background: #4caf4f;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.btn_secondary {
    padding: 14px 32px;
    gap: 10px;
    background: #ffffff;
    border: 1px solid #4caf4f;
    border-radius: 4px;
    color: #ffffff;
    color: #4caf4f;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: #18191F;
    font-weight: 500;

}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #4D4D4D;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #717171;

}





@media screen and (max-width: 768px) {
    .container {
        padding: 0px 0px;
    }

    .space-between {
        flex-direction: column;
    }
}